<div class="text-layout">
    <h1>Decimal pipe y porcentaje</h1>
    <p>
        Pipes incluidos en angular, usualmente en el common module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas netas"
                subheader="del presente año">
                <i class="pi pi-dollar"></i>
        {{(ventasNetas) + 1000000 | number: '1.2-2'}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Ventas brutas"
                subheader="del presente año">
        {{(ventasNetas) + 2000000 | currency:'ARS':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Margen de ganancias % "
                subheader="del presente año">
        {{  porcentaje | percent:'1.2-2'}}
        </p-card>
    </div>
</div>