<!-- 
<div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{objeto | json}}</h1>
</div>

<button pButton (click)="mostrarNombre()" class="p-button-help" label="cambiar Nombre" icon="pi pi-check"
  iconPos="right"></button>

<p-card [header]="nombre | titlecase" 
subheader="Esto es un subheader">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti qui quae aliquid consectetur nesciunt illo quasi quisquam rerum expedita. Facilis voluptatum sint recusandae iure cum. Fugiat ipsam perspiciatis facere earum!
</p-card>
-->
<app-menu></app-menu>

<router-outlet></router-outlet>

